.card {
  border-radius: 5px;
  padding: 15px;
  background: #000000;
  border-top: 3px solid #ccc;
}

.stable {
  border-color: #ffffff;
}

.canary {
  border-color: #ffffff;
}

.title {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
  font-size: 14px;
}

.label {
  font-weight: 500;
  margin-right: 5px;
}
